@model BlogApplication2.Models.EmailFormModel
@{
    ViewData["Title"] = "Kontakt";
    string styles = "width: 280px; border-radius: 4px; border: 1px solid #ccc; height: 34px;";
    string[] _categoryList = { "Förslag", "Buggar", "Affärsintresse", "Övrigt" };
    string frmCtrlStyle = "max-width: 600px; width: 280px; height: 275px;";
    string userName = User.Identity.Name;
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>Skicka ett meddelande till oss</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.FromName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FromName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FromName)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FromEmail, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @*@if (User.Identity.IsAuthenticated)
                    @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control" })
                @if (!User.Identity.IsAuthenticated)*@

            @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control" })

            @Html.ValidationMessageFor(m => m.FromEmail)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Category, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Category, new SelectList(_categoryList), new { @class = "form-control", @style = styles })
            @Html.ValidationMessageFor(m => m.Category)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Subject, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Subject)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Message, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Message, new { @class = "form-control", @style = frmCtrlStyle })
            @Html.ValidationMessageFor(m => m.Message)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Skicka" />
        </div>
    </div>
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<script>
    $(document).ready(function () {
        if ($(window).width() < 996) {
            $('.col-md-10').css('padding-bottom', '0px');
        }
        else {
            $('.col-md-10').css('padding-bottom', '20px');
        };
    })
    $(window).resize(function () {
        if ($(window).width() < 996) {
            $('.col-md-10').css('padding-bottom', '0px');
        }
        else {
            $('.col-md-10').css('padding-bottom', '20px');
        }
    });
</script>